#typing {
  animation: flicker 1.5s linear infinite forwards;
}

#typing.stop {
  animation: none;
}

@keyframes flicker {
  0% {
    border-color: #000;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: #000;
  }
}
