* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

h3{
  line-height: 1;
  margin-bottom: 10px;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: rgb(221 221 221) 0px 0px 10px;
  border-radius: 10px;
  overflow: auto;
}
